.job-btn {
   background-color: transparent;
   border-color: transparent;
   text-transform: capitalize;
   margin: 0 0.5rem;
   transition: var(--transition);
   cursor: pointer;
   padding: 0.25rem 0;
   line-height: 1;
   color: #354aa9;
}
.job-btn:hover {
   color: var(--clr-primary-5);
}
.active-btn {
   color: #fff;
}
